<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Customer Portal</h1>
    </div>
    <div>
        <p>This is a portal to access your DOS (Data-Object-Service) registry, where you can see your managed data nodes, and hence start querying you data from there.</p>

        <div class="well">
            <b>Please login to see your managed data nodes here: </b><a th:href="@{/nodes}">nodes</a>
        </div>
        <div class="well">
            <b>Make sure you would still have the session: </b><a th:href="@{/customers}">customers</a>
        </div>
    </div>
    <div id="pagefoot" th:include="layout :: footerFragment">Footer
    </div>
</div>
<!-- container -->

</body>
</html>